#divCategoriesView{
    margin-top: 100px;
    margin-left: 100px;
}

#idBack{
    margin-top: 150px;
    color: black;
}

#idBack a{
    color: black;
    font-size: 30px;
}

.btn.icone{
    margin-right: 10px;
    background: #8844ee;;
    color: #fff;
}

h1 {
    color: black;
}